
<p
  [ngClass]="{
    success: !hasError,
    error: hasError
  }"
  [ngStyle]="{
    'text-decoration': hasError ? 'underline' : 'unset',
    'font-weight': hasError ? 700 : 400
  }"
>
  Cambio de color
</p>

<br />

<button [disabled]="isDisabled" (click)="alternarError()">Hacer Click</button>

<hr />

<h2>Ciclos</h2>
<ul>
  <li *ngFor="let student of example; let i = index">
    {{ i }} - {{ student.nombre }} - Nota del examen: {{ student.nota }}
    <span [class.text-success]="student.aprobado" [class.text-danger]="!student.aprobado">
      {{ student.aprobado ? "APROBADO" : "DESAPROBADO" }}
    </span>
  </li>
</ul>

